/* Reseta margens e define a altura da página para ocupar 100% da tela */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/* Estiliza o cabeçalho da página */
header {
    background-color: #3b82f6;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
/* Define tamanho máximo para imagens dentro do cabeçalho */
header img {
    max-height: 40px;
}
/* Estilos da lista de navegação */
nav ul li {
    display: flex;
    margin-right: 20px;
}

/* Estilos para os links de navegação */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #a00000;
}

/* Efeito de hover nos links de navegação */
nav ul li a:hover {
    background: #c0392b;
}

/* Container principal do formulário de agendamento */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estiliza o formulário */
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
/* Estiliza os rótulos (labels) do formulário */
label {
    font-size: 1.1em;
    color: #333;
}
/* Estiliza os campos de entrada e seleção */
select, input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Estiliza o botão de envio */
button {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Muda a cor do botão ao passar o mouse */
button:hover {
    background-color: #1d6ecf;
}

/* Estiliza o rodapé */
footer {
    text-align: center;
    padding: 5px;
    background-color: #3b82f6;
    color: white;
    font-size: 14px;
    margin-top: auto;
}
/* Define tamanho máximo para imagens dentro do rodapé */
footer img {
    max-height: 30px;
}
